<br>
<table class="table">
    <tr>
        <td>Name</td>
        <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>email</td>
        <td><input type="email" class="form-control"></td>
    </tr>
    <tr>
        <td>Ph</td>
        <td><input type="number" class="form-control"></td>
    </tr>
    <tr>
        <td>DoB</td>
        <td><input type="date" class="form-control"></td>
    </tr>
    <tr>
        <td>address</td>
        <td><textarea name="" id="" rows="3" class="form-control"></textarea></td>
    </tr>
    <tr>
        <td>UserName</td>
        <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" class="form-control"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><button type="button" class="btn btn-primary btn-lg">SignUp </button></td>
    </tr>

</table>
